.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  display: flex;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  left: 65px;
  top: 30px;
}

.header__title {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: absolute;
  left: 64px;
  z-index: 3;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

.header__subtitle {
  width: 388px;
  margin: 0 0 30px 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__subtitle, .header__link {
  display: inline;
}

.two-columns {
  width: 80%;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: space-between;
  min-width: 784px;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph:first-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  width: 60%;
  font-weight: bold;
  line-height: 1.15;
  font-size: 60px;
  margin: 100px auto 0 auto;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0 auto;
  text-align: center;
}

.table {
  padding: 0;
  box-sizing: border-box;
  width: 1100px;
  margin: 0 auto 100px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  padding: 0;
  margin: 60px 0 0 0;
  list-style-type: none;
}

.table__heading {
  margin: 0;
  list-style-type: none;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  list-style-type: none;
  font-weight: normal;
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
}

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 100px auto 0 auto;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0 auto;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
  position: absolute;
  background-size: cover;
  right: -210px;
  top: 0;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
  margin: 0 auto 0 auto;
  position: relative;
  z-index: 3;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
}

.table_theme_dark {
  margin: 0 auto 0 auto;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 2;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  padding: 60px 0 40px 0;
}

.footer__columns {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
}

.logo_place_footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 35px;
  width: 183px;
  color: white;
}

.footer__author {
  margin: 0;
  color: white;
  padding: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  padding-inline-start: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
}