.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 0;
  left: 668px;
  display: flex;
  align-items: flex-start;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: 1s ease-in-out;
}
